#header{
    background: linear-gradient(to right, rgb(15, 108, 151), rgb(135, 203, 235));
    padding-top: 8px;
    padding-bottom: 12px;
}

#header .container-fluid{
    padding-left: 0px;
}

#header img{
    width: 150px;
    box-shadow: 10px 10px 5px;
}

#header ul li a{
    color: white;
    transition-property: color;
    transition-duration: 2s;
}

#header ul li a:hover{
    color: rgb(18, 24, 27);
}

#header .bi-list{
    color: white;
    font-size: 25px;
}

#header .navbar-toggler{
    border: 1px solid white;
}

#banner{
    background: linear-gradient(to right, rgb(15, 108, 151), rgb(135, 203, 235));
    padding-top: 30px;
}

#banner #img1{
    width: 400px;
    border-radius: 10px;
}

#banner h2{
    text-align: center;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
}

#banner p {
    color: white;
    text-align: justify;
}

#services{
    padding: 15px 0px;
    padding-bottom: 25px;
    
}

#services h2{
    padding-bottom: 20px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
}

#services img {
    width: 100px;
    padding-bottom: 10px;
    border-radius: 50px;
}

#services h4{
    font-size: 20px;
}

#services p {
    text-align: justify;
}

#test p {
    font-size: 15px;
    text-align: justify;
}

#test .bi-list{
    font-size: 20px;
}
#test h2{
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
}

#test {
    padding-bottom: 30px;
}

#footer{
    background: linear-gradient(to right, rgb(15, 108, 151), rgb(135, 203, 235));
    padding-bottom: 20px;
}

#footer h3{
 font-family: 'Montserrat Subrayada', sans-serif;
 color: white;
}

#footer p {
    color: white;
    text-align: justify;
}

#footer #footer-logo{
    width: 150px;
    margin-bottom: 40px;
}

#footer #img{
    width: 100px;
}

#footer #icons { 
    display: flex;
    justify-content: center;
    align-items: center;
}






